{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1>Reservation</h1>

    {{ dump( reservation ) }}
    <div class="container d-flex flex-column align-items-center justify-content-center mb-5">
        <table class="table">
            <tbody>
                <tr>
                    <th>Reference</th>
                    <td>{{ reservation.reference }}</td>
                </tr>
                <tr>
                    <th>AdultTraveler</th>
                    <td>{{ reservation.adultTraveler }}</td>
                </tr>
                <tr>
                    <th>ChildTraveler</th>
                    <td>{{ reservation.childTraveler }}</td>
                </tr>
                <tr>
                    <th>TotalPrice</th>
                    <td>{{ reservation.totalPrice }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ reservation.status }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DepartureDate</th>
                    <td>{{ reservation.departureDate ? reservation.departureDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_user_profile') }}">Retour au profil</a>
    </div>


{% endblock %}
