<div class="card travel-card">

	<div class="card-body">
		<h5 class="card-title">{{ child.label }}</h5>
		<div class="mb-3">
			<img class="img-fluid rounded"
			     src="{{ asset('images/travels/' ~ child.path) }}"
			     alt="image de {{ child.label }}"
			     aria-label="image de {{ child.label }}"
			     style="max-height: 200px; object-fit: cover; width: 100%;"
			>
		</div>
		<p class="card-text">
			{{ child.destination }} <br>à partir de {{ (child.childUnitPrice /100) }} €<br>
			Note : {{ child.note }}
		</p>
		<div class="d-flex justify-content-between">
			{% set today = "now"|date("Y-m-d") %}
			{% if today >= child.periodStart|date("Y-m-d") and today <= child.periodEnd|date("Y-m-d") %}
			<strong>Places disponibles aujourd'hui :</strong> {{ child.dailySeats }}
			<br><br>
			<a href="{{ path('app_reservation_new', { 'slug': child.slug}) }}" class="btn btn-primary btn-block">Réserver</a>
		{% else %}
			<strong>Période
			        :</strong> du {{ child.periodStart|date("d/m/Y") }} au {{ child.periodEnd|date("d/m/Y") }}
			<br><br>
		{% endif %}
			<a href="{{ path('app_travel_page', {'slug': child.slug}) }}" class="btn btn-primary">Voir le voyage</a>
		</div>
	</div>
		{#        <form action="{{ path('app_cart_add', {'id': child.id}) }}" method="post"> #}
		{#            <button type="submit" class="btn btn-success">Ajouter au panier</button> #}
		{#        </form> #}
</div>
