{% extends 'base.html.twig' %}
{% block title %} Mon espace client {% endblock %}

{% block content %}
	{% set user = app.user %}
	<div class="width-100 container d-flex justify-content-center align-items-center">
		<div class="card text-center shadow-lg m-4 mt-5 col-5">
			<div class="card-header fw-bold fs-5">
				Vos informations personnelles
			</div>
			<div class="card-body">
				<div class="card-text">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"> Prénom : {{ user.firstName }} </li>
						<li class="list-group-item"> Nom : {{ user.lastName }} </li>
						<li class="list-group-item"> Email : {{ user.email }} </li>
						<li class="list-group-item"> Compte créé le {{ user.createdAt|date("d/m/Y") }} </li>
						<li class="list-group-item"> Vos point d'expérience : {{ user.experiencePoints }} </li>
						Votre adresse :
						<li class="list-group-item fw-bold text-danger">
							TODO : intégrer address.tostring
						</li>
					</ul>
				</div>
				<a href="#" class="btn btn-primary fw-bold text-danger">Modifier vos informations (TODO)</a>
			</div>
			<div class="card-footer text-body-secondary">

			</div>
		</div>
	</div>
{% endblock %}
