{% extends 'base.html.twig' %}
{% block title %} Mon espace client {% endblock %}

{% block content %}
	{% set user = app.user %}
	<div class="width-100 container d-flex flex-column justify-content-center align-items-center">
		<div class="card text-center shadow-lg m-4 mt-5 col-5">
			<div class="card-header fw-bold fs-5">
				Vos informations personnelles
			</div>
			<div class="card-body">
				<div class="card-text">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"> Prénom : {{ user.firstName }} </li>
						<li class="list-group-item"> Nom : {{ user.lastName }} </li>
						<li class="list-group-item"> Email : {{ user.email }} </li>
						<li class="list-group-item"> Compte créé le {{ user.createdAt|date("d/m/Y") }} </li>
						<li class="list-group-item">
							Progression avant le prochain niveau:
							<div class="progress" role="progressbar" aria-label="Animated striped" aria-valuenow="{{ user.experiencePoints }}" aria-valuemin="0" aria-valuemax="{{ userLevel.getNextLevelPoints() }}">
								<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ user.experiencePoints }}%">
								</div>
							</div>
							Votre niveau de fidélité : {{ userLevel.name }}
						</li>

							{% if user.addresses.count <= 1 %}
								Votre adresse :
							{% else %}
								Vos adresses :
							{% endif %}

							{% if user.addresses is not empty %}
								{% for address in user.addresses %}
										<div class="d-flex justify-content-center align-items-center p-2">
											{{ address }}
											<form method="post" action="{{ path('app_user_address_delete', {'slug': address.slug}) }}"
											      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.slug) }}">
												<button class="btn btn-sm btn-danger">Supprimer l'adresse</button>
											</form>
										</div>
								{% endfor %}

							{% else %}
								Vous n'avez aucune adresse par défaut.
							{% endif %}
					</ul>
				</div>
				<div class="card-footer text-body-secondary">
					<a href="{{ path('app_user_add_address') }}" class="btn btn-primary fw-bold">Ajouter une adresse</a>
				</div>
			</div>
			<a href="{{ path('app_user_crud_edit', {'slug': user.slug}) }}" class="btn btn-primary fw-bold">Modifier vos informations</a>
		</div>
		<div class="card text-center shadow-lg m-4 mt-5 col-5">
			<div class="card-header fw-bold fs-5">
				Vos réservations
			</div>
			<div class="card-body">
				{% if user.reservations is not empty %}
					{% for reservation in user.reservations %}
						<div class="d-flex justify-content-around align-items-center p-2">
							<p>Date : {{ reservation.departureDate |date("d/m/Y")  }}</p>
							<p>Départ : {{ reservation.travel.departurePlace }}</p>
							<p>Arrivée : {{ reservation.travel.arrivingPlace }}</p>
							<a class="btn btn-success" href="{{ path('app_reservation_summary', {'slug': reservation.slug}) }}">Voir la réservation</a>
							<hr>
						</div>
					{% endfor %}

				{% else %}
					Vous n'avez fait aucune réservation.
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
